<div class="header">
  <div class="header-layout">
    <div class="centralizar-icone" placement="bottom-right">
      <span class="icone-frase">
        <ds-icon
          [icone]="'ds-icon-people-avatar'"
          [tooltipPosition]="'AUTO'"
          [corIcone]="'DEFAULT'"
          [tamanhoIcone]="'LARGE'"
        >
        </ds-icon>
        <span class="frase">{{ nomeUsuario }}</span>
        <ds-icon
          [icone]="'ds-icon-sign-out'"
          [tooltipPosition]="'AUTO'"
          [corIcone]="'DEFAULT'"
          [tamanhoIcone]="'LARGE'"
        ></ds-icon>
      </span>
    </div>
  </div>
</div>
