.header {
    .header-layout {
      display: flex;
      justify-content: flex-end;
      height: 52px;
      border-bottom: 1px solid #2f3337;
      width: 100%;
      position: fixed;
      top: 0;
      border-radius: 0;
      background-color: var(--primary-color-300);
    }
  }