<div class="criar-conta">
    <div>
      <div class="centralizar ds-mb-3">
        <img src="../../../../assets/decsiao img.svg"/>
      </div>
        <div class="ds-row centralizar ds-mb-3 ds-mx-0">
          <div class="ds-col-4">
            <ds-input-text
              [labelInput]="'Nome teste'"
              [placeholderInputText]="'Insira seu nome'"
            ></ds-input-text>
          </div>
        </div>
        <div class="ds-row centralizar ds-mb-3 ds-mx-0">
          <div class="ds-col-4">
            <ds-input-text
              [labelInput]="'E-mail'"
              [placeholderInputText]="'Insira seu e-mail'"
            ></ds-input-text>
          </div>
        </div>
        <div class="ds-row centralizar ds-mb-3 ds-mx-0">
          <div class="ds-col-4">
            <ds-input-text
              [labelInput]="'Senha'"
              [placeholderInputText]="'Insira a nova senha'"
            ></ds-input-text>
          </div>
        </div>
        <div class="ds-row centralizar ds-mb-3 ds-mx-0">
          <div class="ds-col-4">
            <ds-input-text
              [labelInput]="'Confirmar senha'"
              [placeholderInputText]="'Repita a senha inserida'"
            ></ds-input-text>
          </div>
        </div>
        <div class="ds-row centralizar ds-mb-3 ds-mx-0">
          <div class="ds-col-4">
            <ds-button
              class="ds-d-inline-block width-100"
              [tipoBotao]="'PRIMARY'"
              [labelButton]="'Criar conta'"
            ></ds-button>
          </div>
        </div>
        <div class="centralizar">* Campos obrigatórios</div>
        <div class="centralizar">
          Já possui cadastro?
        </div>
      </div>
    </div>
  