.black-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f5f7fa; 
  z-index: -1;
}


.inicio {
    .alinhamento {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }