.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .centralizar {
      display: flex;
      justify-content: center;
    }
    .width-100 {
      width: 100%;
    }
  }
  