<div class="card-listagem">
  <div class="card-header">
    <div class="ds-row">
      <div class="ds-col-6 ds-d-flex ds-align-items-center">
        <span class="ds-typo-semi-bold">23 Títulos</span>
      </div>
      <div class="ds-col-6 situacao ds-d-flex ds-align-items-center">
        <ds-badge
          [icone]="''"
          [labelBadge]="'Não enviado'"
          [tipoBadge]="'GRAY-OUTLINE'"
        >
        </ds-badge>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="ds-row">
      <div class="ds-col-6">
        <small>Data do Lote</small>
      </div>
      <div class="ds-col-6">
        <small class="ds-d-flex ds-justify-content-end">Envio</small>
      </div>
    </div>
    <div class="ds-row">
      <div class="ds-col-6">
        <span class="ds-typo-semi-bold">04/03/2024</span>
      </div>
      <div class="ds-col-6">
        <span class="ds-d-flex ds-justify-content-end">-</span>
      </div>
      <hr class="hr ds-mt-2" />
    </div>
    <div class="ds-row">
      <div class="ds-col-6">
        <small>Valor total do lote</small>
      </div>
    </div>
    <div class="ds-row">
      <div class="ds-col-6">
        <small class="ds-typo-semi-bold">R$ 1.234.567.890,00</small>
      </div>
    </div>
    <div class="ds-row">
      <div class="ds-col-12 ds-mt-2">
        <ds-button-dropdown
          class="width-100"
          labelButtonDropdown="Ações"
          [tipoBotao]="'SECONDARY'"
          [orientacaoLista]="'CIMA'"
        ></ds-button-dropdown>
      </div>
    </div>
    <br />
  </div>
</div>
